/* Hex codes:
#3B4664 - screen bg
#262C41 - display bg
#333C51 - keypad bg
#EAE3DB - buttons
#8896B8 - DEL/RESET btn
#D23E2F - Equal btn
#fffff - font//display//del&reset btn
#000000 - font btns
*/

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #3b4664;
}

button {
  background-color: #eae3db;
  border: none;
  margin: 10px;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: bolder;
  border-radius: 8px;
}

.equalbtn {
  background-color: #D23E2F;
  color: #fff;
}

.delbtn {
  background-color: #8896B8;
  color: #fff;
}

.calculator {
  background-color: #333c51;
  width: 400px;
  margin: 100px auto;
  border-radius: 20px;
  padding: 10px;
}

.display {
  background-color: #262c41;
  margin-bottom: 20px;
  text-align: right;
  color: #fff;
  padding: 20px;
  font-size: 30px;
  border-radius: 20px 20px 0 0;
}



